

.class1 {
    display: flex;
    flex-wrap: wrap;
}

.item1{
    background: orange;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin-bottom: 20px;
    flex-basis: 20%; /* определяет начальный размер flex-элемента --- относительно родителя, как я полагаю*/
}

.item_1 {
    flex-grow: 1; /* определяет, как будет увеличиваться элемент относительно други флекс-элементов в контейнере */
}

.class2 {
    display: flex;
    flex-wrap: wrap; /* перенос блоков */
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}

.item2 {
    background: blue;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 20px;
    flex-basis: 33%;
}



